## import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#Consider input file as /input/question-1/main.csv and give the output to /output/answer-1/main.csv and upload solution code file also to the same folder. Group the year by decades and sum the values

# Group the year by decades and sum the values

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
df=pd.read_csv("C:\\Users\\punrwank\\Desktop\\internship-test2-master\\input\\question-1\\main.csv")
df.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

In [22]:
df = pd.read_csv("C:\\Users\\punrwank\\Desktop\\internship-test2-master\\input\\question-1\\main.csv")
print(df.dtypes)  # headers or the column names of the csv file
#df['Year'] = pd.to_datetime(df['Year'])
df.set_index('Year')  # setting year to index
df = df.drop(columns='Total')  # deleting the column of total
df_decade = df.groupby(np.floor(df['Year']/10) * 10)['Population','Violent',
                                                     'Property','Murder','Forcible_Rape',
                                                     'Robbery','Aggravated_assault','Burglary',
                                                     'Larceny_Theft', 'Vehicle_Theft'].sum() # applying filter to get the years of decades and only selecting the respective columns
print(df_decade)
df_decade.to_excel("output_of_q1.xlsx",index=True) # exporting our data frame to excel file

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object
        Population   Violent   Property  Murder  Forcible_Rape  Robbery  \
Year
1960.0  1915053175   4134930   45160900  106180         236720  1633510
1970.0  2121193298   9607930   91383800  192230         554570  4159020
1980.0  2371370069  14074328  117048900  206439         865639  5383109
1990.0  2612825258  17527048  119053499  211664         998827  5748930
2000.0  2947969117  13968056  100944369  163068         922499  4230366
2010.0  1570146307   6072017   44095950   72867         421059  1749809

        Aggravated_assault  Burglary  Larceny_Theft  Vehicle_Theft
Year
1960.0             2158520  13321100       26547700        5292100
1970.0             4702120  28486000       53157800        9739900
1980.0             7619130  33073494       72040253       11935411
1990.0            10568963  26750015       77679366       14624418
2000.0             8652124  21565176       67970291       11412834
2010.0             3764142  10125170       30401698        3569080

C:\Users\punrwank\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [23]:
df_decade.to_excel("output_of_q1.xlsx",index=True) # exporting our data frame to excel file